.footer {
  background-color: #0b3694; 
  color: #fff;
  height: 130px; 
  padding: 50px 50px;
}

.footer-logo{
     font-size: 38px;
     float: left;
}

.footer-list{
float: right;
padding: 20px;
}

.selected {
color: #FFFFFF;
padding: 50px;
font-size: 20px;
}

li {
  list-style-type: none;
  
}
